*{
    box-sizing: border-box;
}
    
    /* img{

    } */
.info{
    background-color: brown; padding: 20px;
    /* max-width: 20px; */
    
    /* text-align: right; */
    
    margin: 10px;
}
    .info{
    text-align: right;
}

    .info form{
        text-align: left;
    }
    .info fieldset{
            text-align: left;
            color: white;
            background-color: brown;
    }
/* hr
<marquee behavior="" direction="real">OLORUNDA LOCAL GOVERNMENT, OSOGBO OSUN STATE</marquee> */

.info a{
    color: white;
}


.about{
text-align:center;    
}

.about a{
padding:20px;
color: brown;

}
a{
text-decoration: none;
}

.real{
text-align: center;
background-color: brown; padding:20px;
color:white;
margin: 10px;

}
.fun{
    background-color: brown;
}
